<p-table [value]="accountsPage?.accounts" class="d-flex justify-content-center" styleClass="p-datatable-striped w-75"
         responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Identyfikator</th>
      <th class="text-center">Login</th>
      <th class="text-center">Imię</th>
      <th class="text-center">Nazwisko</th>
      <th class="text-center">Uprawnienia</th>
      <th class="text-center">Usuń</th>
      <th class="text-center">2FA</th>
      <th class="text-center">Resetuj 2FA</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-account>
    <tr>
      <td class="text-center">{{account?.id}}</td>
      <td class="text-center">{{account?.username}}</td>
      <td class="text-center">{{account?.firstName}}</td>
      <td class="text-center">{{account?.secondName}}</td>
      <td class="text-center">{{account?.role | enumRole}}</td>
      <td class="text-center">
        <button (click)="deleteAccount(account?.id)" [disabled]="account?.role === role.ADMIN" pButton pRipple
                type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
      </td>
      <td class="text-center">
        <p-inputSwitch style="margin-left: 20px" [(ngModel)]="account.isUsing2FA"
                       (onChange)="change2FA($event, account.id)"></p-inputSwitch>
      </td>
      <td class="text-center">
        <button pButton pRipple [disabled]="!account?.isUsing2FA" (click)="reset2FA(account.id)"
                type="button" icon="fas fa-regular fa-arrows-rotate" class="p-button-rounded p-button-warning"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator class="d-flex justify-content-center"
             styleClass="w-75"
             *ngIf="accountsPage?.totalPages > 1"
             [rows]="5"
             [totalRecords]="accountsPage?.totalElements"
             (onPageChange)="changePage($event)"
></p-paginator>

