<div class="w-100 d-flex justify-content-center align-content-center mt-2 mb-2">
  <p-accordion class="w-75">
    <p-accordionTab class="w-75" header="Filtry">
      <div class="d-flex justify-content-center align-content-center mt-2">
        <div class="d-flex flex-row justify-content-center align-content-center">
          <form [formGroup]="form" class="d-flex flex-wrap justify-content-center align-content-center gap-5">
            <span class="w-25 p-float-label p-input-icon-right d-flex">
              <input class="w-100 text-center" style="color: #931e1e" id="pricePerNight" type="text" pInputText
                     formControlName="pricePerNight"/>
              <label for="pricePerNight" style="color: black">Cena za noc</label>
            </span>
            <span class="w-25 p-float-label p-input-icon-right">
              <input class="w-100 text-center" style="color: #931e1e" id="level" type="text" pInputText
                     formControlName="level"/>
              <label for="level" style="color: black">Level</label>
            </span>
            <span class="w-25 p-float-label p-input-icon-right text-center">
              <input class="w-100 text-center" style="color: #931e1e" id="bedsNumber" type="text" pInputText
                     formControlName="bedsNumber"/>
              <label for="bedsNumber" style="color: black">Liczba łóżek</label>
            </span>
            <p-dropdown [options]="balconyAvailable" optionValue="value" placeholder="Dostępność balkonu"
                        [showClear]="true" formControlName="balconyAvailable"></p-dropdown>
            <p-dropdown [options]="roomStatusNames" optionValue="value" placeholder="Stan pokoju"
                        optionLabel="name" [showClear]="true" formControlName="roomStatus"></p-dropdown>
          </form>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="d-flex w-75 justify-content-start">
          <button pButton label="Wyczyść filtry" [disabled]="!form.dirty" (click)="clearFilters()"
                  style="background-color: #931e1e"
                  class="search-button p-button-warning"></button>
        </div>
        <div class="d-flex w-75 justify-content-end">
          <button pButton label="Szukaj" (click)="search()" style="background-color: #931e1e"
                  class="search-button p-button-warning"></button>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
