@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'animate.css';

.no-scroll {
  overflow: hidden;
}

.error {
  color: #F74A49;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  background: #931e1e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F74A49;
}
