<div class="top-50">
<form [formGroup]="form" class="row">

  <span class="p-float-label d-flex justify-content-center mb-4">
      <input class="text-center" style="color: #931e1e" id="password" type="password" pInputText formControlName="password" placeholder="Hasło"/>
  </span>
  <div class="p-float-label d-flex justify-content-center mb-4">
    <mat-error *ngIf="form.get('password').hasError('required')&&form.get('password').touched" class="text-center justify-content-center">Hasło jest wymagane</mat-error>
  </div>

  <span class="p-float-label d-flex justify-content-center mb-4">
      <input class="text-center justify-content-center" style="color: #931e1e" id="newPassword" type="password" pInputText formControlName="newPassword" placeholder="Nowe hasło"/>
  </span>
  <div class="p-float-label d-flex justify-content-center mb-4">
    <mat-error *ngIf="form.get('newPassword').hasError('maxlength')" class="text-center justify-content-center">Hasło może mieć maksymalnie 20 znaków</mat-error>
    <mat-error *ngIf="form.get('newPassword').hasError('minlength')" class="text-center justify-content-center">Hasło może mieć minimalnie 8 znaków</mat-error>
    <mat-error *ngIf="form.get('password').hasError('required')&&form.get('password').touched" class="text-center justify-content-center">Nowe hasło jest wymagane</mat-error>
  </div>


  <span class="p-float-label d-flex justify-content-center mb-4">
      <input class="text-center justify-content-center" style="color: #931e1e" id="confirmPassword" type="password" formControlName="confirmPassword" pInputText placeholder="Powtórz hasło"/>
  </span>
  <div class="p-float-label d-flex justify-content-center mb-4">
    <mat-error *ngIf="form.get('confirmPassword').hasError('maxlength')" class="text-center justify-content-center">Hasło może mieć maksymalnie 20 znaków</mat-error>
    <mat-error *ngIf="form.get('confirmPassword').hasError('minlength')" class="text-center justify-content-center">Hasło może mieć minimalnie 8 znaków</mat-error>
    <mat-error *ngIf="form.get('confirmPassword').hasError('mustMatch')" class="text-center justify-content-center">Hasła muszą być identyczne</mat-error>
    <mat-error *ngIf="form.get('password').hasError('required')&&form.get('password').touched" class="text-center justify-content-center">Powtórzenie hasła jest wymagane</mat-error>
  </div>
  <div class="p-float-label d-flex justify-content-center mb-4">
    <p-button class="changeButton" label="Zmień hasło" [disabled]="form.invalid" (onClick)="submit()" styleClass="p-button-warning"></p-button>
  </div>

</form>
</div>
