.toolbar {
  background-color: #931e1e;
  color: #ffffff;
  height: 10%;

  i {
    margin: 10px;
    cursor: pointer;
  }
}

.sidenav-container {
  width: 100%;
  height: 90%;
}

.sidenav {
  background-color: #363636;
  border-right: solid #931e1e 5px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.logout-button {
  color: #f8f8f8;
  padding: 5px 15px;
}

.logout-button:hover {
  color: #f8f8f8;
  background-color: #363636;
  border-radius: 10px;
  cursor: pointer;
}
