<!--[ngTemplateOutletContext]="{ $implicit: data }"-->
<div class="d-flex no-scroll">
  <div class="image-side animate__animated animate__slideInLeft">
    <ng-container [ngTemplateOutlet]="imageSide"></ng-container>
  </div>
  <div class="login-side animate__animated animate__slideInRight">
    <ng-container [ngTemplateOutlet]="this.tokenHandlerService.twoFA.isUsing2FA ? twoFa: loginSide"></ng-container>
  </div>
</div>

<ng-template #imageSide>
  <div class="image-content">
    <img src="favicon.png" alt="HMS-logo" width="60%">
    <h2 style="color: #F74A49">Hotel</h2>
    <h2 style="color: #DC3C45">Management System</h2>
  </div>
</ng-template>


<ng-template #twoFa>
  <hms-two-factor-step></hms-two-factor-step>
</ng-template>

<ng-template #loginSide>
  <div class="login-content" [formGroup]="loginForm">
    <h2>HMS</h2>
    <span class="w-50 p-float-label p-input-icon-right">
      <i class="pi pi-user" style="color: #931e1e"></i>
      <input class="w-100" style="color: #931e1e" id="login" type="text" pInputText formControlName="login"/>
      <label for="login" style="color: black">Login</label>
    </span>
    <span style="margin: 0" *ngIf="loginForm.get('login').invalid">
      <small class="error" *ngIf="loginForm.get('login').dirty && loginForm.get('login').hasError('required')">Login jest wymagany do zalogowania</small>
    </span>
    <span class="w-50 p-float-label p-input-icon-right">
      <i class="pi pi-eye" style="color: #931e1e" *ngIf="passwordVisibility" (click)="changePasswordVisibility()"></i>
      <i class="pi pi-eye-slash" style="color: #931e1e" *ngIf="!passwordVisibility"
         (click)="changePasswordVisibility()"></i>
      <input class="w-100" style="color: #931e1e" id="passowrd" [type]="passwordVisibility ? 'text' : 'password'"
             pInputText formControlName="password"/>
      <label for="passowrd" style="color: black">Hasło</label>
    </span>
    <span style="margin: 0" *ngIf="loginForm.get('password').invalid">
      <small class="error" *ngIf="loginForm.get('password').dirty && loginForm.get('password').hasError('required')">Hasło jest wymagane do zalogowania</small>
    </span>
    <button class="login-button" [disabled]="this.loginForm.invalid" pButton pRipple label="Zaloguj się"
            (click)="login()"></button>
  </div>
</ng-template>
