<div class="loader-container" *ngIf="loading$ | async">
  <i class="spinner fa-solid fa-spinner fa-spin-pulse fa-3x" style="color: #363636"></i>
  <div class="overlay"></div>
</div>

<ng-container class="content" [ngTemplateOutlet]="displayNavbar() ? withoutNavbar : withNavbar"></ng-container>
<p-toast></p-toast>

<ng-template #withoutNavbar>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #withNavbar>
  <hms-navbar>
    <router-outlet></router-outlet>
  </hms-navbar>
</ng-template>
