.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  backdrop-filter: blur(2px);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999;
}

.loader-container {
  z-index: 99999999;
}

hms-navbar {
  z-index: 9999999;
}

.content {
  z-index: 1;
}
