<p-dialog header="Dodaj pokój" [(visible)]="displayModal" [modal]="true" styleClass="w-50 justify-content-center"
          [closable]="false" [draggable]="false">

  <form [formGroup]="form" class="row">

      <div class="d-flex justify-content-center mb-4">
        <p-dropdown [options]="balconyAvailable" placeholder="Dostępność balkonu"
                    [showClear]="true" formControlName="balconyAvailable"></p-dropdown>
      </div>
      <span class="p-float-label d-flex justify-content-center mb-4">
              <input class="text-center" style="color: #931e1e" id="level" type="number" pInputText
                     formControlName="level" placeholder="Poziom"/>
      </span><br>
      <span class="p-float-label d-flex justify-content-center mb-4">
              <input class="text-center justify-content-center" style="color: #931e1e" id="pricePerNight" type="number" pInputText
                     formControlName="pricePerNight" placeholder="Cena za noc"/>
      </span>
     <span class="p-float-label d-flex justify-content-center mb-4">
              <input class="text-center justify-content-center" style="color: #931e1e" id="bedsNumber" type="number" pInputText
                     formControlName="bedsNumber" placeholder="Liczba łóżek"/>
     </span>
  </form>

  <ng-template pTemplate="footer">
    <p-button icon="fa-solid fa-plus" (click)="addRoom()" label="Dodaj"
              styleClass="p-button-text p-button-warning"></p-button>
    <p-button icon="fa-solid fa-xmark" (click)="changeVisibleModal()" label="Anuluj"
              styleClass="p-button-text p-button-warning"></p-button>
  </ng-template>
</p-dialog>
