.navbar-item {
  color: #f8f8f8;
  padding: 10px;
  font-size: large;
}

.navbar-item-active {
  color: #363636;
  padding: 10px;
  background-color: #f8f8f8;
  font-size: large;
}

i {
  margin-right: 10px;
}


