<div class="mt-1 navbar-item" [ngClass]="{'navbar-item-active' : isRoutingActive()}" (click)="navigate()">
  <i [class]="icon" [style]="isRoutingActive() ? 'color: #363636' : 'color: #f8f8f8'"></i>
  {{text}}
</div>
