<div class="flex justify-content-center align-items-center">
  <div class="rooms">
    <div *ngFor="let room of roomsPage.rooms">
      <div class="tile">
        <hms-single-room-view [room]="room"></hms-single-room-view>
      </div>
    </div>
  </div>
</div>
<p-paginator class="d-flex justify-content-center"
             styleClass="w-75"
             *ngIf="roomsPage?.totalPages > 1"
             [rows]="9"
             [totalRecords]="roomsPage ?.totalElements"
             (onPageChange)="changePage($event)">
</p-paginator>
