mat-grid-tile {
  border: solid;
  border-radius: 10px;
  border-color: #931e1e;
}

.rooms {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  gap: 20px;
  flex-wrap: wrap;
}

.tile {
  border: solid 2px #F74A49;
  border-radius: 10px;
  padding: 20px;
  height: 265px;
  width: 400px;
  box-shadow: #363636;
}
