<div class="col mt-4">
  <form [formGroup]="form" class="row">
    <div class="d-flex flex-row justify-content-center mb-4">
      Autoryzacją poprzez 2FA
      <p-inputSwitch formControlName="isUsing2FA"></p-inputSwitch>
    </div>
    <div class="col d-flex justify-content-center flex-wrap gap-4">
      <p-dropdown class="row justify-content-center" [options]="availableRoles" optionValue="value"
                  placeholder="Wybierz uprawnienie" optionLabel="name"
                  [showClear]="true" formControlName="role"></p-dropdown>
      <span class="row w-100 p-float-label p-input-icon-right justify-content-center">
              <input class="w-100 text-center" style="color: #931e1e" id="login" type="text" pInputText
                     formControlName="username"/>
              <label for="login" style="color: black">Login</label>
        </span>
      <span style="margin: 0" *ngIf="form.get('username').invalid">
              <small class="error" *ngIf="form.get('username').dirty && form.get('username').hasError('required')">Login jest wymagany</small>
        </span>
      <span class="row w-100 p-float-label p-input-icon-right justify-content-center">
              <input class="w-100 text-center" style="color: #931e1e" id="firstName" type="text" pInputText
                     formControlName="firstName"/>
              <label for="firstName" style="color: black">Imię</label>
        </span>
      <span style="margin: 0" *ngIf="form.get('firstName').invalid">
              <small class="error" *ngIf="form.get('firstName').dirty && form.get('firstName').hasError('required')">Imię jest wymagane</small>
        </span>
    </div>
    <div class="col d-flex justify-content-center flex-wrap gap-4">
        <span class="row w-100 p-float-label p-input-icon-right justify-content-center">
              <input class="w-100 text-center" style="color: #931e1e" id="password" type="text" pInputText
                     formControlName="password"/>
              <label for="password" style="color: black">Hasło</label>
        </span>
      <span style="margin: 0" *ngIf="form.get('password').invalid">
              <small class="error" *ngIf="form.get('password').dirty && form.get('password').hasError('required')">Hasło jest wymagane</small>
        </span>
      <span class="row w-100 p-float-label p-input-icon-right justify-content-center">
              <input class="w-100 text-center" style="color: #931e1e" id="secondName" type="text" pInputText
                     formControlName="secondName"/>
              <label for="secondName" style="color: black">Nazwisko</label>
        </span>
      <span style="margin: 0" *ngIf="form.get('secondName').invalid">
              <small class="error" *ngIf="form.get('secondName').dirty && form.get('secondName').hasError('required')">Nazwisko jest wymagane</small>
        </span>
      <span class="row w-100 p-float-label p-input-icon-right justify-content-center">
              <input class="w-100 text-center" style="color: #931e1e" id="email" type="text" pInputText
                     formControlName="email"/>
              <label for="email" style="color: black">Email</label>
        </span>
      <span style="margin: 0" *ngIf="form.get('email').invalid">
              <small class="error" *ngIf="form.get('email').dirty && form.get('email').hasError('required')">Email jest wymagany</small>
        </span>
      <span style="margin: 0" *ngIf="form.get('email').invalid">
              <small class="error" *ngIf="form.get('email').dirty && form.get('email').hasError('email')">Niepoprawny format</small>
        </span>
    </div>
  </form>
</div>
<div class="d-flex justify-content-end mt-2">
  <p-button icon="fa-solid fa-plus" label="Zarejestruj" [disabled]="form.invalid" (onClick)="register()"
            styleClass="p-button-text p-button-warning "></p-button>
  <p-button icon="fa-solid fa-xmark" (click)="changeVisibleModal()" label="Anuluj"
            styleClass="p-button-text p-button-warning"></p-button>
</div>


