<div class="content">
  <ng-container [ngTemplateOutlet]="employeeOptions"></ng-container>
</div>
<button *ngIf="auth.isAdmin" (click)="showAddRoom()" pButton class="admin p-button-rounded p-button-warning"
        icon="fa-solid fa-plus"></button>


<ng-template #employeeOptions>
  <section>
    <hms-room-search-form [roomStatusNames]="roomStatusNames" (searchParams)="search($event)"></hms-room-search-form>
    <hms-room-view [roomsPage]="roomsPage" (changePageEvent)="callPage($event)"></hms-room-view>
  </section>
</ng-template>
<hms-add-room></hms-add-room>
