<div class="row con">
  <div class="col name">Poziom:</div>
  <div class="col value">{{room.level}}</div>
  <div class="col name">Status pokoju:</div>
  <div class="col value">{{room.roomStatus | roomStatus}}</div>
</div>
<div class="spacer-1"></div>
<div class="row con">
  <div class="col name">Ilość łóżek:</div>
  <div class="col value">{{room.bedsNumber}}</div>
  <div class="col name">Cena za dobę:</div>
  <div class="col value">{{room.pricePerNight | currency: 'PLN'}}</div>
</div>
<div class="spacer-1"></div>
<div class="row text-center">
  <div class="col w-50">Dostępność balkonu:</div>
  <div class="col w-50">{{room.balconyAvailable | yesNo}}</div>
</div>
<div class="spacer-2"></div>
<div class="d-flex justify-content-center">
  <button pButton label="Zmień status" (click)="changeRoomStatus.changeVisibleModal()" class="p-button-danger"></button>
</div>
<hms-change-room-status [roomStatus]="room.roomStatus" [roomId]="room.id"></hms-change-room-status>
