.name {
  width: 30% !important;
  padding: 0;
  text-align: center;
  align-items: center;
}

.value {
  width: 20px !important;
  padding: 0;
  text-align: center;
  align-items: center;
}

.spacer-1 {
  padding: 5px
}

.spacer-2 {
  padding: 10px;
  border-bottom: solid 3px #c2c2c2;
  margin: 10px 0
}

.con {
  grid-template-columns: 30% 20% 30% 20%;
  align-items: center;
  gap: 5px
}
