<button (click)="showAddRoom()" pButton class="add-account p-button-rounded p-button-warning"
        icon="fa-solid fa-plus"></button>
<hms-account-search-form [availableRoles]="availableRoles" (searchParams)="search($event)"></hms-account-search-form>
<hms-accounts (change2FAEvent)="change2FA($event)" (reset2FAEvent)="reset2FA($event)"
              (deleteAccountId)="deleteAccount($event)" [accountsPage]="accountsPage"
              (changePageEvent)="callPage($event)"></hms-accounts>
<hms-add-account [availableRoles]="availableRoles"></hms-add-account>
