<div class="base-container">
  <img src="favicon.png" alt="HMS-logo" width="20%">
  <h3>Hotel Management System</h3>
  <h4>Nie znaleziono takiej strony!</h4>
  <button pButton iconPos="left" icon="fa-solid fa-arrow-left" class="p-button-text p-button-warning" (click)="goBack()"
          label="Wróć do poprzedniej strony"></button>
</div>
